{
 :dev {:url "datomic:mem://stefon"}
 :prod {:url "datomic:free://localhost:4334/stefon"}
 :action-mappings {
                   :plugin.post.create {:domain-key :post}
                   :plugin.post.retrieve {:domain-key nil}
                   :plugin.post.update {:domain-key :post}
                   :plugin.post.delete {:domain-key nil}
                   :plugin.post.find {:domain-key :post}
                   :plugin.post.list {:domain-key :post}

                   :plugin.asset.create {:domain-key :asset}
                   :plugin.asset.retrieve {:domain-key nil}
                   :plugin.asset.update {:domain-key :asset}
                   :plugin.asset.delete {:domain-key nil}
                   :plugin.asset.find {:domain-key :asset}
                   :plugin.asset.list {:domain-key :asset}

                   :plugin.tag.create {:domain-key :tag}
                   :plugin.tag.retrieve {:domain-key nil}
                   :plugin.tag.update {:domain-key :tag}
                   :plugin.tag.delete {:domain-key nil}
                   :plugin.tag.find {:domain-key :tag}
                   :plugin.tag.list {:domain-key :tag}}
 }
